.wrapper {
  .btn {
    position: absolute;
    z-index: 9;
    left: 0;
  }

  .container {
    background-color: aliceblue;
    box-shadow: 10px 10px 10px rgb(206, 205, 205);

    .gifs {
      display: flex;
      flex-direction: row;
      overflow-x: hidden;
      scroll-behavior: smooth;

      .png {
        height: 10rem;
      }
    }
  }
}
