.wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 1px solid rgb(221, 226, 233);

  .container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 4rem 0;
    justify-content: space-between;

    .title {
      color: rgb(61, 61, 61);
      border-bottom: 1px solid black;
      height: 3rem;
    }

    .section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80%;

      .parts {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 21%;

        img {
          width: 4rem;
          margin-bottom: 0.3rem;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .wrapper {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 555px) {
  .wrapper {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin-bottom: 1.5rem;
      }
    }
  }
}
