.wrapper {
  // background-color: rgb(235, 239, 245);
  background-color: white;
  height: 30rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(221, 226, 233);

  .container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;

    h1 {
      color: black;
      text-align: center;
      color: rgb(61, 61, 61);
      border-bottom: 1px solid black;
      //border-bottom: 1px solid rgb(221, 226, 233);
      margin-bottom: 3rem;
    }

    span {
      color: rgb(100, 100, 100);
      text-align: left;
    }
    .blue {
      color: rgb(24, 162, 253);
    }

    .education {
      color: black;
      font-weight: bold;
      margin-top: 5rem;
      text-decoration: dashed;
    }
  }
}

@media (max-width: 940px) {
  .wrapper {
    height: fit-content;
    padding-bottom: 5rem;

    .container {
      width: 90%;
    }
  }
}
