.wrapper {
  border-top: 1px solid rgb(221, 226, 233);
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header {
    display: flex;
    margin-bottom: 1rem;
    color: rgb(61, 61, 61);
    justify-content: center;
    margin-bottom: 4rem;

    h1{
      border-bottom: 1px solid rgb(24, 162, 253);;
    }

    .color {
      color: rgb(24, 162, 253);
      
      font-size: larger;
      font-weight: bold;
    }
  }
.container{
  display: flex;
  justify-content: center;
  
  .allInfo {
    display: flex;
    width: 80%;
    justify-content: center;
    //align-items: center;

    .btnDiv{
      display: flex;
      align-items: center;
      .email{
        width: 9rem;
        height: 2.5rem;
        background-color: rgb(24, 162, 253);
        color: white;
        border: none;
        border-radius: 5px;
       // margin-top: 1rem;

        &:hover {
          cursor: pointer;
          background-color: rgb(0, 152, 253);
        }
      }
    }

    .myInfo {
      display: flex;
      flex-direction: column;
     margin-right: 3.5rem;
     margin-top: 1.4rem;

      .info{
        display: flex;
        margin-bottom: 1rem;


        .span{
      margin: 0 1rem 1rem 0;
      color: rgb(61, 61, 61);
        }
      }

    }

    .form {
      display: flex;
      flex-direction: column;
      width: 25rem;
      // align-items: center;

      .group {
        display: flex;
        flex-direction: column;
        //width: 37rem;
        padding: 1rem 0;

        input {
          display: flex;
          align-items: center;
          height: 2.3rem;
          font-size: 15px;
          padding: 0.5rem 0.8rem;
          font-family: "Poppins", sans-serif;
          border: 1px solid rgb(231, 231, 231);
          border-radius: 5px;
          margin-top: 0.3rem;

          &:focus {
            outline: none;
          }
        }

        textarea {
          display: flex;
          align-items: center;
          height: 7rem;
          padding: 0.5rem;
          font-size: 15px;
          font-family: "Poppins", sans-serif;
          border: 1px solid rgb(231, 231, 231);
          border-radius: 5px;
          margin-top: 0.3rem;
          padding: 0.5rem 0.8rem;

          &:focus {
            outline: none;
          }
        }
label{
  color: rgb(61, 61, 61);
}
        span {
          color: red;
        }
      }
      .button {
        .send {
          width: 5rem;
          height: 2rem;
          background-color: rgb(24, 162, 253);
          color: white;
          border: none;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
            background-color: rgb(0, 152, 253);
          }
        }
      }
    }


  }
}
}

// @media (max-width: 620px) {
//   .container {
//     .form {
//       display: flex;
//       justify-content: center;

//       .group {
//         width: 90%;
//       }
//     }
//   }
// }

@media (max-width: 830px){
  .wrapper{
    .container{
      .allInfo{
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

// @media(max-width: 400px){
//   .wrapper{
//     .container{
//       .allInfo{
//         .btnDiv{
//           width: 100vw;
//         margin-left: 2.2rem;
//         }
//       }
//     }
//   }
// }