.wrapper {
  padding: 1rem 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  z-index: 8;

  .container {
    display: flex;
    flex-direction: column;

    .head {
      display: flex;
      justify-content: space-between;
      margin: 5rem 3.5rem 0 3.5rem;
      color: white;
      z-index: 10;

      align-items: baseline;

      .exit {
        color: rgb(24, 162, 253);
        background-color: rgb(78, 78, 78);
        border-radius: 10px;
        padding: 4px;
        //  width: 2rem;
        height: 2rem;

        &:hover {
          cursor: pointer;
          color: white;
          background-color: rgba(192, 192, 192, 0.685);
        }
      }

      .title {
        margin-left: 1rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 777px) {
  .wrapper {
    .container {
      .head {
        width: 600px;
      }
    }
  }
}

@media (max-width: 390px) {
  .wrapper {
    .container {
      margin-top: 4rem;
      .head {
        margin: 5rem 0 0 1.2rem;
        width: 390px;
        flex-direction: column-reverse;
        align-items: center;

        .title {
          font-size: 1rem;
          margin: 1rem 0 -3rem 0;
          text-align: center;
        }

        .exit {
          margin-bottom: 4rem;
        }
      }
    }
  }
}
