.wrapper {
  padding: 1rem 0;
  // height: 100%;
  //   position: absolute;
  //   left: 0;

  .container {
    background-color: rgb(255, 255, 255);
    margin: 4rem;
    // position: absolute;
    // top: 0;
    // height: auto;

    .title {
      margin-left: 1rem;
    }

    .gifs {
      .section {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 40rem;
          margin: 1rem;
          border-radius: 7px;
          box-shadow: -10px 10px 10px rgb(206, 205, 205);
        }

        span {
          margin-left: 4rem;
        }
      }
    }
  }
}
